/*css*/
/*Website: Jamming Since January;
Author: Zameena Mejia;*/


body {
	background:blue;
	font-family: arial;


}

h1 { 
}


h3 {


}

p.genre {
	text-align: center;
    color: red;
}

.container {
	.float{
    color:#282C32 ;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-size:15px;
    margin: 10px 70px;
    text-indent: 30px;
    float:right;
}
}