/*css*/
/*Website: Jamming Since January;
Author: Zameena Mejia;*/


body {
	background:#FFAAAA;
	font-family: arial;


}

h1 {
	color:#003333;
	font-family: 'futura', sans-serif;
	font-size: 40px;
	text-align:center;
	margin-top: 30px;
	margin-bottom: 10px;
}

h1:hover{
	color: pink;

}


p.subtitle{
	color:#4F628E;
	font-family: 'rockwell';
	font-size: 20px;
	text-align:left;
	text-indent:40px;
}




h3 {
	color:blue;
	font-family: 'rockwell';
	font-size: 20px;
	text-align:center;
	text-indent: 0px;


}


.container{
    color:#282C32 ;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-size:15px;
    margin: 10px 70px;
    text-indent: 30px;
    float:left;
}



 .vids {
    text-align:center;
    float:right;
}